/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of
  * content. Table of content is use display the overall tree structure of your
  * Layout.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following color code and add your own as this is just and
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following typography and add your own as this is just and
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type="radio"] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

strong {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold; }

em {
  font-style: italic; }

img {
  vertical-align: middle;
  border: 0; }

sub,
sup {
  position: relative;
  font-size: 55%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */
.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: Montserrat;
  src: url("//db.onlinewebfonts.com/t/07689d4eaaa3d530d58826b5d7f84735.eot");
  src: url("//db.onlinewebfonts.com/t/07689d4eaaa3d530d58826b5d7f84735.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/07689d4eaaa3d530d58826b5d7f84735.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/07689d4eaaa3d530d58826b5d7f84735.woff") format("woff"), url("//db.onlinewebfonts.com/t/07689d4eaaa3d530d58826b5d7f84735.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/07689d4eaaa3d530d58826b5d7f84735.svg#Montserrat") format("svg"); }
@font-face {
  font-family: Budmo;
  src: url("//db.onlinewebfonts.com/t/ed70b5c7632ea5ff77a381a2aff54876.eot");
  src: url("//db.onlinewebfonts.com/t/ed70b5c7632ea5ff77a381a2aff54876.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ed70b5c7632ea5ff77a381a2aff54876.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ed70b5c7632ea5ff77a381a2aff54876.woff") format("woff"), url("//db.onlinewebfonts.com/t/ed70b5c7632ea5ff77a381a2aff54876.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ed70b5c7632ea5ff77a381a2aff54876.svg#Budmo") format("svg"); }
@font-face {
  font-family: Franchise;
  src: url("//db.onlinewebfonts.com/t/e5f2f90ef20309de329a7d174c3d2245.eot");
  src: url("//db.onlinewebfonts.com/t/e5f2f90ef20309de329a7d174c3d2245.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e5f2f90ef20309de329a7d174c3d2245.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e5f2f90ef20309de329a7d174c3d2245.woff") format("woff"), url("//db.onlinewebfonts.com/t/e5f2f90ef20309de329a7d174c3d2245.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e5f2f90ef20309de329a7d174c3d2245.svg#Franchise") format("svg"); }
@font-face {
  font-family: GelatoScript;
  src: url("//db.onlinewebfonts.com/t/c5c3b3a82e36d575bd931e87925db68e.eot");
  src: url("//db.onlinewebfonts.com/t/c5c3b3a82e36d575bd931e87925db68e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c5c3b3a82e36d575bd931e87925db68e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c5c3b3a82e36d575bd931e87925db68e.woff") format("woff"), url("//db.onlinewebfonts.com/t/c5c3b3a82e36d575bd931e87925db68e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c5c3b3a82e36d575bd931e87925db68e.svg#Gelato Script") format("svg"); }
.menu-border {
  content: '';
  width: 80px;
  height: 4px;
  position: absolute; }

.container .wrapper {
  width: 67%;
  max-width: 1400px;
  margin: 0 auto; }

header {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header h1 {
    padding-right: 75px; }
  header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header nav li.menu {
      position: relative;
      list-style: none; }
      header nav li.menu:hover ul.sub-menu {
        display: block; }
      header nav li.menu ul.sub-menu {
        max-width: 212px;
        width: 100%;
        padding: 22px 24px;
        box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.15);
        background-color: #fff;
        display: none;
        position: absolute;
        left: -15px; }
        header nav li.menu ul.sub-menu li {
          list-style: none; }
          header nav li.menu ul.sub-menu li a {
            font: 400 18px "OpenSans";
            color: #434343;
            line-height: 40px; }
      header nav li.menu a {
        font: 400 18px "OpenSans";
        color: #434343;
        text-decoration: none;
        text-transform: capitalize; }
        header nav li.menu a:hover {
          font: 700 18px "OpenSans";
          color: #ff5f3b; }
      header nav li.menu:last-child {
        padding: 10px 15px;
        font: 600 18px "OpenSans";
        color: #5f2073;
        border-radius: 4px;
        background-color: rgba(243, 243, 243, 0.49); }

main .banner {
  height: auto;
  max-height: 550px;
  min-height: 420px;
  position: relative;
  z-index: -1;
  background: url("../images/banner.png") no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center; }
  main .banner .banner-details {
    width: 100%;
    position: absolute;
    top: 64px;
    text-align: left; }
    main .banner .banner-details .marketing-wrap {
      display: flex;
      align-items: center; }
      main .banner .banner-details .marketing-wrap .marketing {
        width: 56%; }
        main .banner .banner-details .marketing-wrap .marketing .ad {
          padding-bottom: 11px; }
          main .banner .banner-details .marketing-wrap .marketing .ad h2 {
            padding-bottom: 22px;
            font: 700 60px "OpenSans";
            color: #fff;
            line-height: 40px;
            text-transform: capitalize; }
          main .banner .banner-details .marketing-wrap .marketing .ad p {
            font: 300 48px "OpenSans";
            color: #fff;
            line-height: 40px; }
        main .banner .banner-details .marketing-wrap .marketing .banner-support {
          font: 400 14px "OpenSans";
          color: #fff;
          line-height: 24px; }
          main .banner .banner-details .marketing-wrap .marketing .banner-support p:first-child {
            opacity: 0.6; }
          main .banner .banner-details .marketing-wrap .marketing .banner-support p:nth-child(2) {
            opacity: 0.4; }
          main .banner .banner-details .marketing-wrap .marketing .banner-support p:last-child {
            opacity: 0.2; }
      main .banner .banner-details .marketing-wrap .marketing-support {
        width: 44%; }
        main .banner .banner-details .marketing-wrap .marketing-support .contact {
          padding-bottom: 49px; }
          main .banner .banner-details .marketing-wrap .marketing-support .contact p {
            font: 400 18px "OpenSans";
            color: #fff;
            line-height: 24px; }
            main .banner .banner-details .marketing-wrap .marketing-support .contact p a {
              font: 700 18px "OpenSans";
              color: #fff;
              line-height: 24px; }
        main .banner .banner-details .marketing-wrap .marketing-support button {
          padding: 20px 30px;
          border: 0;
          outline: 0;
          box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.3);
          border-radius: 4px;
          background: -webkit-linear-gradient(90deg, #ff5e3a 0%, #ff5e3a 100%);
          background: -moz-linear-gradient(90deg, #ff5e3a 0%, #ff5e3a 100%);
          background: -o-linear-gradient(90deg, #ff5e3a 0%, #ff5e3a 100%);
          background: -ms-linear-gradient(90deg, #ff5e3a 0%, #ff5e3a 100%);
          background: linear-gradient(0deg, #ff5e3a 0%, #ff5e3a 100%);
          font: 700 18px "OpenSans";
          color: #fff;
          text-shadow: 0px -1px 0px rgba(168, 81, 87, 0.75); }
  main .banner .server {
    width: 100%;
    position: absolute;
    bottom: -85px; }
    main .banner .server img {
      width: 100%; }
  main .banner .left-arrow {
    position: absolute;
    top: calc(50% - 25px);
    left: 5%; }
    main .banner .left-arrow img {
      max-width: 31px;
      width: 100%; }
  main .banner .right-arrow {
    position: absolute;
    top: calc(50% - 25px);
    right: 5%; }
    main .banner .right-arrow img {
      max-width: 31px;
      width: 100%; }
  main .banner .services {
    width: 100%;
    padding: 35px 0;
    position: absolute;
    bottom: -85px;
    display: flex;
    justify-content: center;
    background-color: #f3f3f3; }
main .digital-landscape {
  margin-top: 85px;
  text-align: center; }
  main .digital-landscape h2 {
    padding: 55px 0 50px 0;
    font: 300 36px "OpenSans";
    color: #0a0a0a;
    line-height: 40px; }
    main .digital-landscape h2 span {
      font: 400 36px "OpenSans";
      color: #0a0a0a;
      text-transform: capitalize; }
  main .digital-landscape .type-of-server {
    display: flex;
    justify-content: space-between; }
    main .digital-landscape .type-of-server .server {
      width: 25%;
      padding: 30px 28px;
      margin-right: 25px;
      background-color: #f3f3f3; }
      main .digital-landscape .type-of-server .server:last-child {
        margin-right: 0; }
      main .digital-landscape .type-of-server .server h3 {
        padding: 0 0 24px 0;
        border-bottom: 1px solid #000;
        font: 700 18px "OpenSans";
        color: #67267a;
        line-height: 20px;
        text-transform: capitalize; }
      main .digital-landscape .type-of-server .server .price span.from {
        padding: 12px 0;
        display: block;
        font: 700 12px "OpenSans";
        color: #67267a;
        line-height: 20px; }
      main .digital-landscape .type-of-server .server .price p {
        font: 700 48px "OpenSans";
        color: #ff5e3a;
        line-height: 20px; }
        main .digital-landscape .type-of-server .server .price p span.super {
          display: inline-block;
          font: 700 24px "OpenSans";
          color: #ff603c;
          line-height: 20px;
          vertical-align: super; }
        main .digital-landscape .type-of-server .server .price p span.month {
          font: 700 10px "OpenSans";
          color: #b4b4b4;
          line-height: 40px;
          margin-left: -25px; }
      main .digital-landscape .type-of-server .server .description {
        padding-bottom: 43px; }
        main .digital-landscape .type-of-server .server .description p {
          font: 700 16px "OpenSans";
          color: #666565;
          line-height: 30px; }
          main .digital-landscape .type-of-server .server .description p span.bold {
            font: 600 16px "OpenSans";
            color: #666565; }
      main .digital-landscape .type-of-server .server button {
        padding: 20px 38px 11px 30px;
        margin-bottom: 34px;
        border-radius: 4px;
        background: -webkit-linear-gradient(90deg, #ff5e3a 0%, #ff5e3a 100%);
        background: -moz-linear-gradient(90deg, #ff5e3a 0%, #ff5e3a 100%);
        background: -o-linear-gradient(90deg, #ff5e3a 0%, #ff5e3a 100%);
        background: -ms-linear-gradient(90deg, #ff5e3a 0%, #ff5e3a 100%);
        background: linear-gradient(0deg, #ff5e3a 0%, #ff5e3a 100%);
        box-shadow: 0px 5px 0px 0px #a3322e;
        font: 700 18px "OpenSans";
        color: #ffffff;
        text-shadow: 0px -1px 0px rgba(168, 81, 87, 0.75);
        text-transform: capitalize; }
  main .digital-landscape .contact {
    padding: 52px 0 70px 0; }
    main .digital-landscape .contact p {
      font: 300 36px "OpenSans";
      color: #0a0a0a;
      line-height: 40px; }
      main .digital-landscape .contact p.number {
        padding: 43px 0 37px 0; }
        main .digital-landscape .contact p.number span {
          font: 700 36px "OpenSans";
          color: #5b136d;
          line-height: 40px; }
      main .digital-landscape .contact p.or {
        font: 400 24px "OpenSans";
        color: #5b136d; }
      main .digital-landscape .contact p.email {
        padding-top: 32px; }
        main .digital-landscape .contact p.email span {
          font: 700 24px "OpenSans";
          color: #662479;
          line-height: 40px; }
  main .digital-landscape .about {
    padding-bottom: 95px;
    display: flex; }
    main .digital-landscape .about p {
      font: 400 18px "OpenSans";
      color: #0a0a0a;
      line-height: 20px;
      text-align: justify;
      transform: scaleY(1.0109); }
      main .digital-landscape .about p:first-child {
        padding-right: 20px; }
  main .digital-landscape .clients {
    padding-bottom: 42px;
    font: 700 14px "OpenSans";
    color: #868686;
    line-height: 24px; }
    main .digital-landscape .clients .client-logos {
      max-width: 689px;
      margin: 0 auto; }
      main .digital-landscape .clients .client-logos img {
        width: 100%; }

footer .footer-details {
  padding: 47px 0 52px 0;
  background-color: #f3f3f3; }
  footer .footer-details ul.menu {
    display: flex;
    justify-content: space-between;
    list-style: none; }
    footer .footer-details ul.menu li a {
      font: 700 14px "OpenSans";
      color: #ff5f3b;
      line-height: 30px;
      text-decoration: none;
      text-transform: capitalize; }
    footer .footer-details ul.menu li:last-child ul li span {
      text-transform: capitalize; }
      footer .footer-details ul.menu li:last-child ul li span a {
        font: 700 14px "OpenSans";
        color: #662479;
        line-height: 24px; }
    footer .footer-details ul.menu li ul {
      list-style: none; }
      footer .footer-details ul.menu li ul li a {
        font: 400 14px "OpenSans";
        color: #434343;
        line-height: 24px;
        text-decoration: none;
        text-transform: capitalize; }
footer .footer-copy-right .copy-right {
  padding: 28px 0;
  display: flex;
  justify-content: space-between; }
  footer .footer-copy-right .copy-right p {
    font: 700 14px "OpenSans";
    color: #565656; }
    footer .footer-copy-right .copy-right p span {
      font: 400 12px "OpenSans";
      color: #565656;
      text-transform: capitalize; }

/*# sourceMappingURL=style.css.map */
